:root {
  --black: #1b1b15;
  --yellow: #ffff00;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 500px;
  position: relative;
  left: calc(50% - 265px);
}
​form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: row nowrap;
}
​input {
  cursor: initial;
}
button, input {
  font-size: 1em;
  cursor: pointer;
  padding: 1em 1.5em;
  height: 100%;
  border: 0.15em solid var(--black);
}
button {
  color: var(--yellow);
  background-color: var(--black);
}
​.gallery {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}
​img {
  margin: 2em 1em;
  max-width: 33%;
  max-height: 500px;
  box-shadow: 0 0 5px var(--black);
}

.pokemon {
  width: 200px;
  height: 200px;
}
